.quiz {
  background-color: #ede8e4;
  color: #1d3a42;
  border: 4px solid #5e4630;
  border-radius: 6px;
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

#username {
  width: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 25px;
}

#welcome_btn,
#backToStart_btn,
#backToStart_btn2,
#answers_btn{
  background-color: #eecb6e;
  color: #fff;
  padding: 0.75rem 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#restart_btn {
  background-color: #eb3a2e;
  color: #fff;
  padding: 2px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 6px;;
}
#backToStart_btn{
  display: none;
}
#users_btn{
  background-color: #b68809;
  color: #fff;
  padding: 2px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#goodbyescreen {
  display: none;
}

.question__answer {
  list-style-type: none;
  padding-left: 0;
}

.answer {
  border: 2px solid #1d3a42;
  color: #000;
  background-color: #fff;
  text-align: left;
  padding: 0.5rem 1rem;
  margin: 10px auto;
  cursor: pointer;
}
.quiz__usernameview{
  text-align: right;  
}
.quiz__usernameview span{
  border-radius: 3px;
  border: 1px solid #818105;
  padding: 3px;
  background-color: #f8f878;
}

.answer-view {  
  color: #000;  
  text-align: left;
  padding: 0.5rem 1rem;
  margin: 10px auto;  
}
.title-view{
  text-align: left;
}

.quiz__welcomeError{
  color:#ff0000;
}
.userNameAnserwers{
  color: #caac04;
}

.numberQuestion{
  border: 1px solid #bebeba;
  background-color: #86867f;
  color: #fff;
  border-radius: 9px;
  padding: 0 5px;
}
#users_btn{
  display: none;
}

.users_list{
  color: #000;  
  text-align: left;
  padding: 0.5rem 1rem;
  margin: 5px auto;  
  list-style-type: none;
  cursor: pointer;
  background-color: #bebeba;
}
.dvReturn{
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.dvRestart{
  display: none;
}